.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.division {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.division span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}

.division:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.siguiente {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    text-decoration: none;
}

.siguiente:hover,
.siguiente:focus {
    text-decoration: none;
}

.paginas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
    color: #007BFF; 
}

.representante {
    color: grey;
}

.pagact {
    width: 10px;
    height: 10px;
    background-color: #007BFF;
    border-radius: 50%;
}

.pag {
    width: 10px;
    height: 10px;
    background-color: #d3d3d3;
    border-radius: 50%;
}

.elegir-boton {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.elegir-boton img {
    max-width: 100%;
    max-height: 100%;
}

span::first-letter {
    color: #007BFF;
}

span::after {
    content: "●●"; 
    color: #d3d3d3;
}